{% block content %}
<div  id="wrapper"  class="container" style="margin-bottom: 3em">
    <div class="feature-divider text-center"><a href="/contests" class="btn btn-default">Все конкурсы</a></div>

    <h1>«АВТОР года» 2014</h1>

        <div class="text-center">
            <img src="{{'t8-prize-01.svg' | asset_url }}" class="img-responsive t8-img" alt=""/>
        </div>
        <hr class="feature-divider"/>
        <div class="row">
        <div class="col-md-6">
            <p>Конкурс <strong>«АВТОР года»</strong> учрежден Т8 «Авторские решения» в рамках инвестиционно-издательского
                холдинга ОАО «Т8» с целью выявления наиболее талантливых современных поэтов и писателей,
                их поощрения и продвижения в России и за рубежом. Конкурс проводится на бесплатной основе
                для авторов и финансируется организаторами. </p>

        </div>
            <div class="col-md-6">
                <p>
                    На конкурс принимается: <strong>поэзия и проза.</strong> <br/>
                    Авторы имеют право принять участие в обеих номинациях.
                </p>
                <p>
                    Тематика конкурса – не ограничена, однако содержание произведений не должно нарушать
                    действующего законодательства РФ.
                </p>
                <p>
                    По результатам работы жюри конкурса будут определены и награждены победители и финалисты.
                </p>
            </div>
        </div>


        <hr class="feature-divider"/>


        <div class="row">
            <div class="col-md-4">
                <h4 class="text-warning">1-ая премия:</h4>
                    <p>
                        Издание авторской книги в твёрдом переплёте с предоставлением комплекса услуг
                        по распространению в рамках инвестиционно-издательского холдинга ОАО «Т8», а также
                        презентация автора и его творчества на одной из международных выставок за рубежом с
                        возможностью продажи авторских прав на книгу за рубежом.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="text-warning">2-ая премия:</h4>
                    <p>
                        Издание авторской книги в твёрдом переплёте с предоставлением комплекса услуг
                        по распространению в рамках инвестиционно-издательского холдинга ОАО «Т8», а также
                        презентация автора и его творчества на одной из международных выставок в РФ.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="text-warning">3-ая премия:</h4>
                    <p>Издание авторской книги в твёрдом переплёте с предоставлением комплекса услуг
                        по распространению в рамках инвестиционно-издательского холдинга ОАО «Т8».
                    </p>
                </div>

            </div>

        <hr class="feature-divider"/>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <strong>Финалисты конкурса</strong> получат возможность бесплатного издания авторской книги в мягкой
                    обложке (формат А5, объём до 100 страниц).
                </p>
                <p class="text-warning">
                    Итоги конкурса — январь 2015.
                </p>
                <p class="text-warning">
                    Срок приёма работ — до 01 декабря 2014.
                </p>


            </div>

           <div class="col-md-6">
               <form class="t8s-lead-form--upload" data-label="contest author2014" enctype="multipart/form-data" action=""
                     data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                     data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                     data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                   <div class="t8s-lead-form__">
                       <h4 class="t8s-lead-form__title">Отправить заявку на участие в конкурсе</h4>
                       <div class="form-group">
                           <input name="fullName" type="text" class="form-control" placeholder="Фамилия Имя Отчество" required
                                  data-bv-notempty="true"
                                  data-bv-notempty-message="Пожалуйста введите Ф. И. О."

                                  data-bv-stringlength="true"
                                  data-bv-stringlength-min="6"
                                  data-bv-stringlength-max="50"
                                  data-bv-stringlength-message="Ф. И. О. не должно быть меньше 6 и не более 50 знаков"
                                   />
                       </div>
                       <div class="form-group">
                           <input name="email" type="email" class="form-control" placeholder="Адрес email" required
                                  data-bv-notempty="true"
                                  data-bv-notempty-message="Пожалуйста введите email"
                                   />
                       </div>
                       <div class="form-group">
                           <input name="phone" type="tel" class="form-control" placeholder="Телефон для связи" required
                                  data-bv-notempty="true"
                                  data-bv-notempty-message="Пожалуйста введите номер телефона для связи"
                                   />
                       </div>
                       <div class="form-group">
                           <input name="location" type="tel" class="form-control" placeholder="Страна и город проживания" required
                                  data-bv-notempty="true"
                                  data-bv-notempty-message="Пожалуйста заполните страну и город вашего проживания"

                                  data-bv-stringlength="true"
                                  data-bv-stringlength-min="6"
                                  data-bv-stringlength-max="50"
                                  data-bv-stringlength-message="«Место проживания» не должно быть меньше 6 и не более 50 знаков"
                                   />
                       </div>
                       <div class="form-group fileupload">
                           <p class="small">Файл WORD с произведениями объемом не более 200 строк для поэзии / 10.000
                               знаков с пробелами для прозы.</p>
                           <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                               <div class="form-control fileinput-filename__" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                               <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Выбрать файл</span><span class="fileinput-exists">Изменить</span>
                                   <input type="file" name="work" required
                                          data-bv-notempty="true"
                                          data-bv-notempty-message="Пожалуйста выберите файл для загрузки"
                                           ></span>
                               <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Удалить</a>
                           </div>
                       </div>
                       <div class="form-group">
                           <button data-loading-text="Отправляем..." class="t8s-lead-form__button" type="submit">Отправить</button>
                       </div>
                   </div>
               </form>
           </div>

</div>
    <div class="feature-divider text-center"><a href="/contests" class="btn btn-default">Все конкурсы</a></div>
</div>
{% endblock %}
{% block scripts %}

{{ "fileinput.js" | asset_url | script_tag }}


<script>
    $(document).ready(function() {
        $('.t8s-lead-form--upload').bootstrapValidator(
                {
            fields: {
                work: {
                    validators: {
                        file: {
                            extension: 'doc,docx',
                            type: 'application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document',
                            maxSize: 4096 * 1024,   // 4 MB
                            message: 'Принимаются файлы в формате Word (doc, docx) не более 4х мб'
                        }
                    }
                }
            }
        }
        );
});
</script>
{% endblock %}
