{% block content %}
<div  id="wrapper"  class="container" style="margin-bottom: 3em">
    <div class="feature-divider text-center"><a href="/contests" class="btn btn-default">Все конкурсы</a></div>

    <h1>«БЕСТСЕЛЛЕР года» 2014</h1>

    <section class="feature-divider">
            <div class="text-center">
                <img src="{{'t8-prize-03.svg' | asset_url }}" class="img-responsive t8-img" alt=""/>
            </div>
        <hr class="feature-divider"/>
        <div class="row">
            <div class="col-md-6">
                <p>Конкурс <strong>«БЕСТСЕЛЛЕР года»</strong> учрежден Т8 «Авторские решения» в рамках инвестиционно-
                    издательского холдинга ОАО «Т8» с целью выявления современных поэтов и писателей, чьи книги
                    пользуются повышенным спросом у читателей. </p>
            </div>
            <div class="col-md-6">
                <p>В конкурсе принимают участие все книги, которые изданы авторами при содействии Т8 «Авторские
                    решения» и поступили на реализацию хотя бы в одну из возможных точек продаж в РФ и за
                    рубежом (он-лайн и офф-лайн книжные магазины). </p>
                <p>По результатам статистики продаж за период 2014 года по авторским книгам, изданным при
                    содействии Т8 «Авторские решения» и поступившим на реализацию в торговые точки, будут
                    определены и награждены победители и финалисты. </p>
            </div>
        </div>
        <hr class="feature-divider"/>
        <div class="row">


            <div class="col-md-6">
                <h4>Номинации:</h4>
                <ul class="t8s-intro__copytext__list">
                    <li>Электронная книга</li>
                    <li>Бумажная книга</li>
                    <li>Аудиокнига</li>
                </ul>

            </div>

            <div class="col-md-6">
                <p class="">
                    <strong> Победители</strong> получат именную статуэтку «Бестселлер года» 2014 и бесплатный пакет PR-
                    продвижения в рамках инвестиционно-издательского холдинга ОАО «Т8».
                </p>

                <p class="">
                    <strong>Финалисты</strong> конкурса получат дипломы и возможность льготного PR-продвижения в рамках
                    инвестиционно-издательского холдинга ОАО «Т8».
                </p>
                <p class=" text-warning">
                    Итоги конкурса — март 2015.
                </p>
            </div>

        </div>
    </section>

    <div class="feature-divider text-center"><a href="/contests" class="btn btn-default">Все конкурсы</a></div>


</div>
{% endblock %}