@import "bootstrap/bootstrap.scss";
@import "jasny-bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,800italic,300,800&subset=cyrillic,latin);


$t8s-intro-color: #222222;

html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

#wrapper {
  padding-top: 3em;
}

.navmenu-inverse {
  background-color: #000000;
  border-left: 1px solid #222222;
}

.t8s-navbar {
  @extend .navbar;
  @extend .navbar-fixed-top;
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 9999;
}
.t8s-navbar--plain {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-fixed-top;
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.t8s-logo--header {
  background-image: url(../img/logo-t8s2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 270px;
  height: 50px;
  margin: 0 15px;
  padding: 0;
  display: inline-block;
  float: left;
}
.t8s-logo--header2 {
  background-image: url(../img/t8s-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 270px;
  height: 50px;
  margin: 0 15px;
  padding: 0;
  display: inline-block;
  float: left;
}
.t8s-navbar--plain .t8s-logo--header {
  background-image: url(../img/logo-t8s2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 270px;
  height: 50px;
  margin: 0 15px;
  padding: 0;
  display: inline-block;
  float: left;
}

.t8s-navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  margin-left: 15px;
  padding: 6px 6px;
  margin-top: 8px;
  margin-bottom: 4px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #232323;
}
.t8s-navbar-toggle:focus {
  outline: none; }
.t8s-navbar-toggle .icon-bar {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 1px;
  background-color: $t8s-intro-color;
}
.t8s-navbar-toggle .icon-bar + .icon-bar {
  margin-top: 6px; }
.t8s-navbar--plain .t8s-navbar-toggle .icon-bar {
  background-color: #222222;
}

.t8s-intro {
  width: 100%;
  height: 560px;
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  background-position: 0% 50%;
  display: block;
  background-color: #968568;
}


.t8s-intro__copytext__text {
  padding-top: 2em;
  display: block;
}
.t8s-intro__copytext {

}

.t8s-intro__copytext__list {
  list-style: none;
  li:before {
    font-family: 'Glyphicons Halflings';
    content: '\e006 ';
    display: inline-block;
    margin-left: -23px;
    padding-right: 6px;
    color: $panel-danger-text;
  }
  li {
    margin-top: 0.8em;
  }
}

.t8s-intro__tagline {


}



.ccattrib {
  margin-left: 15px;
  font-size: 14px;
  display: inline;
  background-color: rgba(0,0,0,0.5);
  color: #959595;
  a {
    color: #005a79;
  }
}

.t8s-intro__copytext__signature{

}


//

footer {
  @extend small;
  margin: 2em auto;
}

.t8s-footer__logos img{
  opacity: 0.7;
}
.t8s-footer__logos img:hover{
  opacity: 1;
}


.t8s-footer__underline {
  border-bottom: 1px dotted #eee;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

body > ymaps {
  width: 100%!important;
}


.feature{
  h2 {
    margin-top: 1em;
  }
  margin: 5em auto;
  .img-responsive {
    position: relative;
  }
}

.feature-text {
  padding: 0 5em;
}
.feature-text > p {
  font-size: 120%;
}

.t8s-author {
  @extend .text-center;

}

.t8s-author{
  margin-bottom: 2em;
}

.t8s-book {
  margin: 1em 0;
}

.t8s-book__author {
  @extend small;
}

.t8s-book__cover__image {
  box-shadow:         0px 0px 15px 0px rgba(0, 0, 0, 0.8);
}

.t8s-book__title{

}
.t8s-lead-form {
  margin-top: 4em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.27);
  color: #ffffff;
  border-radius: 5px;
  max-width: 500px;
}


.t8s-lead-form--msg{
  @extend .t8s-lead-form;
  display: none;
  h3 {
    margin: 80px auto;
  }
}

//.t8s-out {
//  transform: translateX(100px)!important;
//
//}
//.t8s-in {
//  opacity: 1;
//  transform: translateX(0);
//}