<footer>
    <div class="t8s-footer__underline">

        <div class="container">
            <ul class="nav nav-pills">
                <li {% if mixture.url == 'index' %}class="active"{% endif %}><a href="/index"><i class="glyphicon glyphicon-home"></i> Главная</a></li>
                <li {% if mixture.url == 'about' %}class="active"{% endif %}><a href="/about">О проекте</a></li>
                <li {% if mixture.url == 'contests' %}class="active"{% endif %}><a href="/contests">Конкурсы</a></li>
                <li {% if mixture.url == 'offers' %}class="active"{% endif %}><a href="/offers">Акции</a></li>
                <li {% if mixture.url == 'partners' %}class="active"{% endif %}><a href="/partners">Партнеры</a></li>
                <li {% if mixture.url == 'contacts' %}class="active"{% endif %}><a href="/contact">Контакты</a></li>
            </ul>
        </div>

    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <p>2014 &copy; ОАО «Т8 Издательские Технологии»<br/>
                    Тел.:  +7 (495) 545-44-94 &nbsp;&nbsp;&nbsp;
                    Email: <a href="mailto:info@t8avtor.ru">info@t8avtor.ru</a></p>
            </div>
            <div class="col-md-8 t8s-footer__logos">
                <a href="http://ripol.ru" target="_blank"><img src="{{ 'logo-ripol.svg' | asset_url}}" width="80" alt=""/></a>
                <img style="margin-left: 2em" src="{{ 'logo-t8s.svg' | asset_url}}" width="200" alt=""/>
                <a href="http://t8group.ru" target="_blank"><img style="margin-left: 2em" src="{{ 'logo-t8.svg' | asset_url}}" width="230" alt=""/></a>
            </div>
        </div>
    </div>
</footer>