<footer>
    <div class="t8s-footer__underline">

        <div class="container">
            <ul class="nav nav-pills">
                <li {% if mixture.url == 'index' %}class="active"{% endif %}><a href="/index">Издайте книгу</a></li>
                <li {% if mixture.url == 'about' %}class="active"{% endif %}><a href="/about">О проекте</a></li>
                <li {% if mixture.url == 'authors' %}class="active"{% endif %}><a href="/authors">Наши авторы</a></li>
                <li {% if mixture.url == 'books' %}class="active"{% endif %}><a href="/books">Наши книги</a></li>
                <li {% if mixture.url == 'contests' %}class="active"{% endif %}><a href="/contests">Конкурсы</a></li>
                <li {% if mixture.url == 'partners' %}class="active"{% endif %}><a href="/partners">Партнеры</a></li>
                <li {% if mixture.url == 'contacts' %}class="active"{% endif %}><a href="/contact">Контакты</a></li>
            </ul>
        </div>

    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <p>2014 &copy; ГК «Рипол Классик»<br/>
                    Тел.: (495) 775-88-85
                    Email: <a href="mailto:info@ripol.ru">info@ripol.ru</a></p>
            </div>
            <div class="col-md-8 t8s-footer__logos">
                <a href="http://ripol.ru"><img src="{{ 'logo-ripol.svg' | asset_url}}" width="80" alt=""/></a>
                <img style="margin-left: 2em" src="{{ 'logo-t8s.svg' | asset_url}}" width="200" alt=""/>
                <a href="http://t8group.ru"><img style="margin-left: 2em" src="{{ 'logo-t8.svg' | asset_url}}" width="230" alt=""/></a>
            </div>
        </div>
    </div>
</footer>