<form class="t8s-lead-form {{form_options}} ">
    <h4 class="t8s-lead-form__title">Запрос на оказание услуг</h4>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="ФИО" required/>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" required/>
    </div>
    <div class="form-group">
        <input type="tel" class="form-control" placeholder="Телефон" required/>
    </div>
    <div class="form-group">
        <button data-loading-text="Отправляем..." class="t8s-lead-form__button" type="submit">Отправить</button>
    </div>
</form>