<form class="t8s-lead-form {{form_options}} " data-label="{{form_label}}" action=""
      data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
      data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
    <div class="t8s-lead-form__">
        <input type="hidden" name="projectId" value="t8.authors"/>
        <input type="hidden" name="campaignParams" value=""/>
        <input type="hidden" name="campaignReferrer" value=""/>
        <input type="hidden" name="formType" value="serviceRequest"/>

        <h4 class="t8s-lead-form__title">Запрос на оказание услуг</h4>
        <div class="form-group">
            <input name="fullName" type="text" class="form-control" placeholder="Фамилия Имя Отчество" required
                   data-bv-notempty="true"
                   data-bv-notempty-message="Пожалуйста введите Ф. И. О."

                   data-bv-stringlength="true"
                   data-bv-stringlength-min="6"
                   data-bv-stringlength-max="50"
                   data-bv-stringlength-message="Ф. И. О. не должно быть меньше 6 и не более 50 знаков"
                   pattern="^[а-яА-ЯёЁa-zA-Z][а-яА-ЯёЁa-zA-Z0-9-_\.(\s)?]{5,60}$"
                    />
        </div>
        <div class="form-group">
            <input name="email" type="email" class="form-control" placeholder="Адрес email" required
                   data-bv-notempty="true"
                   data-bv-notempty-message="Пожалуйста введите email"
                    />
        </div>
        <div class="form-group">
            <input name="phone" type="tel" class="form-control" placeholder="Телефон для связи" required
                   data-bv-notempty="true"
                   data-bv-notempty-message="Пожалуйста введите номер телефона для связи"
                    />
        </div>
        <div class="form-group">
            <button data-loading-text="Отправляем..." class="t8s-lead-form__button" type="submit">Отправить</button>
        </div>
    </div>
        <small class="t8s-lead-form__notice">Мы свяжемся с вами в течении 10 минут после отправки</small>
</form>
