<div class="navmenu navmenu-inverse navmenu-fixed-right offcanvas" style="">
    <a href="/index"><h1 class="text-hide t8s-logo--header2">Т8 Авторские решения</h1></a>
    <ul class="nav navmenu-nav">
        <li {% if mixture.url == 'index' %}class="active"{% endif %}><a href="/index"><i class="glyphicon glyphicon-home"></i> Главная</a></li>
        <li {% if mixture.url == 'about' %}class="active"{% endif %}><a href="/about">О проекте</a></li>
        <li {% if mixture.url == 'contests' %}class="active"{% endif %}><a href="/contests">Конкурсы</a></li>
        <li {% if mixture.url == 'partners' %}class="active"{% endif %}><a href="/partners">Партнеры</a></li>
        <li {% if mixture.url == 'contacts' %}class="active"{% endif %}><a href="/contact">Контакты</a></li>
    </ul>
</div>

<nav class="t8s-navbar">
    <div class="container-liquid">
        <button type="button" class="t8s-navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
            МЕНЮ
        </button>
        <a href="/index"><h1 class="text-hide t8s-logo--header">Т8 Авторские решения</h1></a>
    </div>
</nav>