<div class="navmenu navmenu-inverse navmenu-fixed-right offcanvas" style="">
    <a class="navmenu-brand" href="#">Меню</a>
    <ul class="nav navmenu-nav">
        <li><a href="/index">Издайте книгу</a></li>
        <li><a href="/about">О проекте</a></li>
        <li><a href="/authors">Наши авторы</a></li>
        <li><a href="/books">Наши книги</a></li>
        <li><a href="/contests">Конкурсы</a></li>
        <li><a href="/partners">Партнеры</a></li>
        <li><a href="/contact">Контакты</a></li>
    </ul>
</div>

<nav class="t8s-navbar">
    <div class="container">
        <button type="button" class="t8s-navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#"><h1 class="text-hide t8s-logo--header">Т8 Авторские решения</h1></a>
    </div>
</nav>