{% block content %}
<div  id="wrapper"  class="container" style="margin-bottom: 3em">
    <h1>О проекте</h1>

    <p class="lead">
        <strong>Т8 «Авторские решения»</strong> в партнёрстве с группой компаний <strong>«РИПОЛ Классик»</strong>
        в рамках инвестиционно-издательского холдинга ОАО «Т8» предлагает <strong>уникальный спектр профессиональных услуг
        с сохранением всех прав за автором:</strong>
    </p>
    <hr class="feature-divider"/>
    <div class="row">
        <div class="col-md-6">
            <p class="lead">
                Подготовка к изданию бумажных и электронных книг:
            </p>
            <ul class="t8s-intro__copytext__list">
                <li>Корректура</li>
                <li>Редактура</li>
                <li>Индивидуальный дизайн макетов</li>
                <li>Выбор оптимального формата</li>
                <li>Вёрстка</li>
                <li>Художественное оформление</li>
                <li>Оформление выходных данных</li>
                <li>Аннотирование</li>
                <li>Рецензирование</li>
                <li>Перевод на иностранные языки</li>
                <li>Написание текстов любой тематики и уровня сложности</li>
                <li>Поиск правообладателей</li>
                <li>Проверка текстов на плагиат, запрещенные символы, зарегистрированные торговые марки и другое.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <p class="lead">Содействие в создании аудиокниг:</p>
            <ul class="t8s-intro__copytext__list">
                <li>В записи автора</li>
                <li>В записи автора под руководством профессионального режиссёра</li>
                <li>В записи профессиональных актёров</li>
            </ul>
            <hr/>
            <p class="lead">
                Цифровая и офсетная печать:
            </p>
            <ul class="t8s-intro__copytext__list">
                <li>Любой тираж от 1 экземпляра (технология «Печать по требованию») на новейшем оборудовании</li>
                <li>Контроль качества</li>
                <li>Сертификация печатной литературы для детей</li>
            </ul>
            <hr/>
            <p class="lead">
                <strong>Каждая изданная нами книга</strong> передаётся в крупнейшее издательство <strong>«РИПОЛ Классик»</strong> для оценки возможности дальнейшего продвижения автора <strong>за счёт издательства</strong>.
            </p>
        </div>

    </div>



<div class="row">

    <div class="col-md-6">
        <hr/>
        <p class="lead">
            Распространение книг более чем в 35 000 магазинах:
        </p>
            <ul class="t8s-intro__copytext__list">
                <li>крупнейшая в РФ сеть книжной оптовой дистрибуции «Амадеос»</li>
                <li>Интернет-магазины электронных книг по всему миру (INGRAM, Amazon, Abebooks, Alibris, Google Play, Литрес и другие)</li>
                <li>Интернет-магазины, работающие с технологией «Печать по требованию»  (Ozon.ru, Read.ru, MyShop.ru и другие)</li>
                <li>Книжные магазины по предварительному запросу («Библио-Глобус», ТДК «Москва», «Молодая Гвардия», ОЦ «МДК», «Республика», «Дом Книги» и другие)</li>
                <li>Ведущие торговые площадки по продаже аудиокниг (Ozon.ru, Loudbook, Книга вслух, Литрес и другие)</li>
            </ul>

    </div>
    <div class="col-md-6">
        <hr/>
        <p class="lead">
            Индивидуальное продвижение и PR авторских проектов:
        </p>
        <ul class="t8s-intro__copytext__list">
            <li>Специальные акции в точках продаж (презентации, выкладки, промо-материалы и др.)</li>
            <li>Статьи о книге и об авторе в СМИ, анонсы в радиопередачах</li>
            <li>Получение рецензий от профессиональных критиков и писателей</li>
            <li>Презентации на литературных мероприятиях</li>
            <li>Продвижение в Интернете (в социальных сетях и на специализированных сайтах)</li>
            <li>Выдвижение авторов на литературные премии</li>
            <li>Участие в международных книжных выставках и фестивалях в РФ и за рубежом</li>
            <li>Создание рекламных, фото- и видеоматериалов (ТВ-ролик, ТВ-фильм, интервью с автором, профессиональные фотосессии и др.)</li>
            <li>Консультационные услуги в области продвижения</li>
        </ul>
    </div>
</div>
    <div class="row">
        <section class="t8s-section--contests">
            <!--PR-->
            <div class="container">
                <header class="text-center t8s-section__header">
                    <h3>Участвуйте в наших бесплатных конкурсах!</h3>
                </header>
                <br/><br/>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="{{'t8-comments.svg' | asset_url }}" class="img-responsive t8-img" alt=""/>
                        <p class="lead">Автор года</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="{{'t8-article.svg' | asset_url }}" class="img-responsive t8-img" alt=""/>
                        <p class="lead">Книга года</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="{{'t8-presentations.svg' | asset_url }}" class="img-responsive t8-img" alt=""/>
                        <p class="lead"> Бестселлер года</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <hr class="feature-divider"/>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% assign form_options = '' %}
            {% include "form" %}
        </div>

    </div>
</div>
{% endblock %}