{% block content %}
<div  id="wrapper"  class="container" style="margin-bottom: 3em">
    <h1>О проекте</h1>

    <p class="lead">
        Т8 «Авторские решения» предлагает автору уникальный спектр услуг с сохранением всех прав за автором:
    </p>

    <div class="row">
        <div class="col-md-6">
            <p class="lead">
                Профессиональная помощь в подготовке к изданию авторских книг </p>
            <p>Индивидуальный дизайн книги, выбор оптимального для данной книги формата, эффективное позиционирование книги и автора для продвижение на рынке).
            </p>
        </div>
        <div class="col-md-6">
            <p class="lead">Профессиональные услуги по подготовке авторского текста к печати</p>
                <p>Корректура, редактура, перевод на иностранные языки и другое), которые предоставляются высококвалифицированными специалистами издательства «РИПОЛ Классик».            </p>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <hr/>
            <p class="lead">
                Содействие в создании электронных авторских книг и аудио-книг.
            </p>
        </div>
        <div class="col-md-6">
    <hr/>
            <p class="lead">
                Цифровая и офсетная печать, тиражом от 1 экземпляра, на новейшем оборудовании при наилучшем соотношении цена-качество.
            </p>
        </div>

    </div>


<div class="row">

    <div class="col-md-6">
        <hr/>
        <p class="lead">
            Комплексные услуги по распространению авторских книг:
        </p>

            Gоставка бумажных книг в крупнейшие книжные магазины («Библио-Глобус», ТДК «Москва», «Молодая Гвардия», ОЦ «МДК», «Республика», «Дом Книги» и др.),
            <ul class="t8s-intro__copytext__list">
                <li>добавление книг в Интернет-магазины по технологии «Печать по требованию»  (Ozon.ru, Read.ru, MyShop.ru и другие),</li>
                <li>добавление книг в каталог крупнейшей в РФ сети книжной дистрибуции «Амадеус»,</li>
                <li>размещение электронных книг в Интернет-магазинах по всему миру (Ingram, Abebooks, Alibris, Amazon, Google Play, Литрес и другие – более 35 000 точек продаж),</li>
                <li>размещение аудио-книг на ведущих торговых площадках (Ozon.ru, Loudbook, Книга вслух, Литрес и другие).</li>
            </ul>

    </div>
    <div class="col-md-6">
        <hr/>
        <p class="lead">
            Индивидуальное продвижение и PR авторских проектов.
        </p>
    </div>


</div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="t8s-lead-form">
                <form action="">
                    <h4>Да, мне это интересно</h4>
                    <div class="form-group">
                        <input class="form-control" required type="text" placeholder="Ваше имя"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" required type="email" placeholder="Емейл"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" required type="tel" placeholder="Телефон"/>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-danger" type="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}