{% block content %}
<div  id="wrapper"  class="container" style="margin-bottom: 3em">
    <h1>Наши авторы</h1>
    <br/>
    <div class="row">
        <div class="col-md-3 col-sm-4 t8s-author">
            <img src="http://api.randomuser.me/portraits/women/92.jpg" class="img-circle img-responsive" alt=""/>
            <h4>Михаил Таль</h4>
            <i class="glyphicon glyphicon-book"></i>
            <span> Вся наша жизнь — игра</span>
        </div>
        <div class="col-md-3 col-sm-4 t8s-author">
            <img src="http://api.randomuser.me/portraits/women/43.jpg" class="img-circle img-responsive" alt=""/>
            <h4>Борис Бурда</h4>
            <i class="glyphicon glyphicon-book"></i>
            <span> Я живой человек, а не книга</span>
        </div>
        <div class="col-md-3 col-sm-4 t8s-author">
            <img src="http://api.randomuser.me/portraits/men/4.jpg" class="img-circle img-responsive" alt=""/>
            <h4>Максим Шаттам</h4>
            <i class="glyphicon glyphicon-book"></i>
            <span> Лабиринты хаоса</span>
        </div>
        <div class="col-md-3 col-sm-4 t8s-author">
            <img src="http://api.randomuser.me/portraits/men/85.jpg" class="img-circle img-responsive" alt=""/>
            <h4>Юрий Вяземский</h4>
            <i class="glyphicon glyphicon-book"></i>
            <span> Бэстолочь</span>
        </div>
        <div class="col-md-3 col-sm-4 t8s-author">
            <img src="http://api.randomuser.me/portraits/men/2.jpg" class="img-circle img-responsive" alt=""/>
            <h4>Михаил Таль</h4>
            <i class="glyphicon glyphicon-book"></i>
            <span> Вся наша жизнь — игра</span>
        </div>
        <div class="col-md-3 col-sm-4 t8s-author">
            <img src="http://api.randomuser.me/portraits/men/41.jpg" class="img-circle img-responsive" alt=""/>
            <h4>Борис Бурда</h4>
            <i class="glyphicon glyphicon-book"></i>
            <span> Я живой человек, а не книга</span>
        </div>
    </div>
</div>
{% endblock %}