{% block content %}
<div  id="wrapper"  class="container" style="margin-bottom: 3em">
    <h1>Наши книги</h1>
    <div class="row">
        <div class="col-md-3 t8s-book">
            <div class="t8s-book__cover">
                <img src="http://www.e-reading.ws/cover/1011/1011206.jpg" class="t8s-book__cover__image img-responsive" alt=""/>
            </div>
            <span class="t8s-book__author">Борис Бурда</span>
            <h4 class="t8s-book__title">Я живой человек, а не книга</h4>
            <p class="t8s-book__desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cupiditate delectus doloribus ea ex fugiat inventore labore laudantium maxime minima molestias nisi, porro possimus quae quam tempore voluptatibus? Asperiores, facilis.
            </p>
        </div>

        <div class="col-md-3 t8s-book">
            <div class="t8s-book__cover">
                <img src="http://www.e-reading.ws/cover/1011/1011206.jpg" class="t8s-book__cover__image img-responsive" alt=""/>
            </div>
            <span class="t8s-book__author">Борис Бурда</span>
            <h4 class="t8s-book__title">Я живой человек, а не книга</h4>
            <p class="t8s-book__desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cupiditate delectus doloribus ea ex fugiat inventore labore laudantium maxime minima molestias nisi, porro possimus quae quam tempore voluptatibus? Asperiores, facilis.
            </p>
        </div>

        <div class="col-md-3 t8s-book">
            <div class="t8s-book__cover">
                <img src="http://www.e-reading.ws/cover/1011/1011206.jpg" class="t8s-book__cover__image img-responsive" alt=""/>
            </div>
            <span class="t8s-book__author">Борис Бурда</span>
            <h4 class="t8s-book__title">Я живой человек, а не книга</h4>
            <p class="t8s-book__desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cupiditate delectus doloribus ea ex fugiat inventore labore laudantium maxime minima molestias nisi, porro possimus quae quam tempore voluptatibus? Asperiores, facilis.
            </p>
        </div>

        <div class="col-md-3 t8s-book">
            <div class="t8s-book__cover">
                <img src="http://www.e-reading.ws/cover/1011/1011206.jpg" class="t8s-book__cover__image img-responsive" alt=""/>
            </div>
            <span class="t8s-book__author">Борис Бурда</span>
            <h4 class="t8s-book__title">Я живой человек, а не книга</h4>
            <p class="t8s-book__desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cupiditate delectus doloribus ea ex fugiat inventore labore laudantium maxime minima molestias nisi, porro possimus quae quam tempore voluptatibus? Asperiores, facilis.
            </p>
        </div>

        <div class="col-md-3 t8s-book">
            <div class="t8s-book__cover">
                <img src="http://www.e-reading.ws/cover/1011/1011206.jpg" class="t8s-book__cover__image img-responsive" alt=""/>
            </div>
            <span class="t8s-book__author">Борис Бурда</span>
            <h4 class="t8s-book__title">Я живой человек, а не книга</h4>
            <p class="t8s-book__desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cupiditate delectus doloribus ea ex fugiat inventore labore laudantium maxime minima molestias nisi, porro possimus quae quam tempore voluptatibus? Asperiores, facilis.
            </p>
        </div>

        <div class="col-md-3 t8s-book">
            <div class="t8s-book__cover">
                <img src="http://www.e-reading.ws/cover/1011/1011206.jpg" class="t8s-book__cover__image img-responsive" alt=""/>
            </div>
            <span class="t8s-book__author">Борис Бурда</span>
            <h4 class="t8s-book__title">Я живой человек, а не книга</h4>
            <p class="t8s-book__desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cupiditate delectus doloribus ea ex fugiat inventore labore laudantium maxime minima molestias nisi, porro possimus quae quam tempore voluptatibus? Asperiores, facilis.
            </p>
        </div>
    </div>
</div>
{% endblock %}