{% block content %}
<div  id="wrapper"  class="container" style="margin-bottom: 3em">

    <h1>Конкурсы</h1>
    <p class="lead">
        Приглашаем авторов принять участие в наших литературных конкурсах!
    </p>

    <hr/>

    <br/>
    <div class="container">
        <section class="t8s-section--contests feature-divider">

        <div class="contests">


            <div class="contests__feature">
                <div class="contests__feature__heading">
                    <a href="contests/author-of-the-year-2014">
                        <img src="{{'t8-prize-01.svg' | asset_url }}" class="img-responsive t8-img" alt=""/>
                        <p class="lead">«Автор года» 2014 <br/><small class="fake">&nbsp;</small></p>
                    </a>
                </div>
                <div class="contests__feature__text">
                    <p>Конкурс проводится на бесплатной основе для авторов и финансируется организаторами. <br/>
                    На конкурс принимается: поэзия и проза. <br/>
                    Авторы имеют право принять участие в обеих номинациях.</p>
                    <p>По результатам работы жюри конкурса будут определены и награждены победители и финалисты. <br/>
                    </p>
                    <p class="text-warning">
                    Итоги конкурса — январь 2015. <br/>
                    Срок приёма работ — до 01 декабря 2014.</p>
                    <p>Для участия в конкурсе необходимо <a
                            href="contests/author-of-the-year-2014#send-contest-request">подать&nbsp;
                        заявку</a></p>
                </div>
                <br/>
                <a href="contests/author-of-the-year-2014" class="btn btn-default">Подробнее</a>
            </div>

            <div class="contests__feature">

                <div class="contests__feature__heading">
                <a href="contests/book-of-the-year-2014">
                    <img src="{{'t8-prize-02.svg' | asset_url }}" class="img-responsive t8-img" alt=""/>
                    <p  class="lead">«Книга года» 2014 <br/><small>T8 Авторские решения</small></p>
                </a>
                </div>
                <div class="contests__feature__text">
                    <p>Конкурс «КНИГА года» учрежден Т8 «Авторские решения» в рамках
                    инвестиционно-издательского холдинга ОАО «Т8» с целью выявления наиболее интересных книг,
                    изданных при содействии Т8 «Авторские решения».</p>
                    <p>Авторы имеют право принять участие во всех номинациях и предоставить на конкурс
                    неограниченное количество книг, по одной книге на одну номинацию</p>
                    <p class="text-warning">Итоги конкурса — февраль 2015.<br/>
                    Срок приёма работ — до 25 декабря 2014.</p>
                </div>
                <br/>
                <a href="contests/book-of-the-year-2014" class="btn btn-default">Подробнее</a>


            </div>

            <div class="contests__feature">
                <div class="contests__feature__heading">
                    <a href="contests/bestseller-of-the-year-2014">
                        <img src="{{'t8-prize-03.svg' | asset_url }}" class="img-responsive t8-img" alt=""/>
                        <p  class="lead">«Бестселлер года» 2014 <br/><small class="fake">&nbsp;</small></p>
                    </a>
                </div>
                <div class="contests__feature__text">
                    <p>Конкурс «БЕСТСЕЛЛЕР года» учрежден Т8 «Авторские решения» в рамках
                        инвестиционно- издательского холдинга ОАО «Т8» с целью выявления
                        современных поэтов и писателей, чьи книги пользуются повышенным спросом у читателей.</p>
                    <p>В конкурсе принимают участие все книги, которые изданы авторами при содействии
                        Т8 «Авторские решения» и поступили на реализацию хотя бы в одну из возможных
                        точек продаж в РФ и за рубежом (он-лайн и офф-лайн книжные магазины).</p>
                    <p class="text-warning">Итоги конкурса — март 2015.</p>
                </div>
                <br/>
                <a href="contests/bestseller-of-the-year-2014" class="btn btn-default">Подробнее</a>


            </div>
        </div>

        </section>
        </div>

</div>
{% endblock %}