{% block title %}Связь с нами{% endblock %}
{% block content %}

<div  id="wrapper"  class="container" style="margin-bottom: 3em">
    <h1>Связь с нами</h1>
    <h2>ОАО «Т8 Издательские Технологии»</h2>
    <p><strong>Офис:</strong> 109147 г. Москва, ул. Большая Андроньевская, д.23</p>
    <p><strong>Тел./fax</strong> +7 (495) 545-44-94</p>
    <p><strong>E-mail:&nbsp;<a href="mailto:info@t8avtor.ru"><span style="text-decoration: underline;">info@t8avtor.ru</span></a></strong></p>
    <p><strong>Как проехать:</strong><br>м. Марксистская. Выход из метро налево к ТЦ «Таганский». Далее любым наземным транспортом 2 остановки до Покровского женского монастыря (Святой Матроны). Перейти на противоположную сторону и пройти примерно&nbsp;100 м. Перейти дорогу к 7-этажному зданию бордового цвета. Вход с левого торца. На первом этаже находится бюро пропусков.</p>
</div>

<section class="container">
    <!--Запрос-->
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <form class="t8s-lead-form {{form_options}} " data-label="contact" action=""
                  data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                  data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                  data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                <input type="hidden" name="projectId" value="t8.authors"/>
                <input type="hidden" name="campaignParams" value=""/>
                <input type="hidden" name="campaignReferrer" value=""/>
                <input type="hidden" name="formType" value="contactRequest"/>

                <h4 class="t8s-lead-form__title">Свяжитесь с нами</h4>
                <div class="form-group">
                    <input name="fullName" type="text" class="form-control" placeholder="Фамилия Имя Отчество" required
                           data-bv-notempty="true"
                           data-bv-notempty-message="Пожалуйста введите Ф. И. О."

                           data-bv-stringlength="true"
                           data-bv-stringlength-min="6"
                           data-bv-stringlength-max="50"
                           data-bv-stringlength-message="Ф. И. О. не должно быть меньше 6 и не более 50 знаков"
                            />
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input name="email" type="email" class="form-control" placeholder="Адрес email" required
                                   data-bv-notempty="true"
                                   data-bv-notempty-message="Пожалуйста введите email"
                                    />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input name="phone" type="tel" class="form-control" placeholder="Телефон для связи" required
                                   data-bv-notempty="true"
                                   data-bv-notempty-message="Пожалуйста введите номер телефона для связи"
                                    />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                        <select name="topic" class="form-control" required
                                data-bv-notempty="true"
                                data-bv-notempty-message="Пожалуйста выберите тему сообщения"
                                >
                            <option value="" disabled selected>Выберите тему</option>
                            <option value="correctOrderState">Уточнить статус заказа</option>
                            <option value="offerPartnership">Предложить сотрудничество</option>
                            <option value="feedback">Написать отзыв</option>
                            <option value="orderService">Заказать услугу</option>
                            <option value="other">Другое</option>
                        </select>
                </div>
                <div class="form-group">
                    <textarea name="message" class="form-control"  rows="5" required placeholder="Ваше сообщение"
                              data-bv-notempty="true"
                              data-bv-notempty-message="Пожалуйста заполните поле сообщения"
                              data-bv-stringlength="true"
                              data-bv-stringlength-min="10"
                              data-bv-stringlength-max="500"
                              data-bv-stringlength-message="Сообщение должно быть не менее 10 и не более 500 знаков"
                            ></textarea>
                </div>
                <div class="form-group">
                    <button data-loading-text="Отправляем..." class="t8s-lead-form__button" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</section>
<br/><br/><br/>

<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=63-ILnv8D3ncudCVooBpRO7mm8ytRlRb&width=600&height=450"></script>

{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('.t8s-lead-form').bootstrapValidator();
    });
</script>
{% endblock %}