{% block content %}
<div  id="wrapper"  class="container" style="margin-bottom: 3em">
    <h1>Конкурсы</h1>
    <p class="lead">
        Приглашаем всех желающих авторов принять участие в литературном конкурсе «ЛУЧШИЙ АВТОР РОССИИ» 2014.
    </p>
    <p>Конкурс «ЛУЧШИЙ АВТОР РОССИИ» 2014 учрежден издательством «РИПОЛ Классик» и инвестиционно-издательским холдингом Т8 с целью выявления наиболее талантливых современных поэтов и писателей, их поощрения и продвижения в России и за рубежом.
    </p>
    <p>
        Конкурс проводится в двух номинациях: поэзия и проза.
    </p>
    <p>
        Авторы имеют право принять участие в обеих номинациях.
    </p>
    <p>
        Тематика конкурса – не ограничена, однако содержание произведений не должно нарушать действующего законодательства РФ
    </p>
    <p>
        По результатам конкурса будут определены и награждены победители и финалисты.
    </p>

            <h2>Гран-при:</h2>
    <div class="row">
        <div class="col-md-6">

            <h3>1-ая премия:</h3>
            <p>
                Издание авторской книги в твёрдом переплёте с полным комплексом услуг по распространению в рамках сети холдинга Т8, а также презентация автора и его творчества на крупнейшей международной выставке во Франкфурт-на-Майне 2015 с возможностью продажи авторских прав на книгу за рубежом.
            </p>
            <h3>2-ая премия:</h3>
            <p>
                Издание авторской книги в твёрдом переплёте с полным комплексом услуг по распространению в рамках сети холдинга Т8, а также презентация автора и его творчества на крупнейшей международной выставке в Лондоне 2015.
            </p>
            <h3>3-ая премия:</h3>
            <p>Издание авторской книги в твёрдом переплёте с полным комплексом услуг по распространению книг в рамках сети холдинга Т8.</p>
        </div>
        <div class="col-md-6">
            <p class="lead">
                Финалисты конкурса получат возможность бесплатного издания авторской книги в мягкой обложке.
            </p>
            <p class="text-info">
                Итоги конкурса будут подведены в январе 2015 года.
            </p>
            <p class="text-info">
                Срок приёма работ – до 01 декабря 2014 года.
            </p>
        </div>
    </div>



    <hr/>


    <p>Заявки на конкурс отправляются по электронной почте, <a href="mailto:contact@t8.com"><span style="text-decoration: underline;">info@t8avtor.ru</span></a></p>

    <ol>
        <li>В теме письма указать: на конкурс «ЛУЧШИЙ АВТОР РОССИИ» 2014</li>
        <li>Обязательно написать свой мобильный телефон, город проживания, возраст</li>
        <li>Приложить файл WORD с произведениями объемом не более 200 строк для поэзии, 10.000 знаков с пробелами для прозы.</li>
    </ol>

</div>
{% endblock %}