{% block content %}
    <section class="t8s-intro">
        <div class="container">
            <div class="row t8s-intro--image">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <div class="t8s-intro__copytext">
                        <h1>Услуги профессионалов</h1>
                        <br/>
                        <p class="t8s-intro__copytext__tagline">для начинающих и профессиональных&nbsp;авторов</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="container">

        <!--Издайте свою книгу-->

        <div class="row">
            <div class="col-md-5">
                <form class="t8s-lead-form t8s-lead-form--intro">
                    <h4 class="t8s-lead-form__title">Запрос на оказание услуг</h4>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="ФИО" required/>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" required/>
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" placeholder="Телефон" required/>
                    </div>
                    <div class="form-group">
                        <button data-loading-text="Отправляем..." class="t8s-lead-form__button" type="submit">Отправить</button>
                    </div>
                </form>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2 hidden-sm hidden-xs text-center">
                        <hr class="t8s-hr-vertical" />
                    </div>
                    <div class="col-md-10">
                        <br/>
                        <h3>Издайте свою книгу</h3>
                        <ul class="list-unstyled t8-feature-list">
                            <li>Художественная, детская, научная и другая литература любых жанров</li>
                            <li>С сохранением авторских прав</li>
                        </ul>
                    </div>
                </div>

                </div>

            </div>
        </div>
    </section>



    <section class="container t8s-section--publishing">
        <!--Подготовка и издание книг-->
        <div class="row ">
            <div class="col-sm-6 col-sm-offset-1">
                <h3>Подготовка и издание авторских книг любого жанра</h3>
                <br/>
                <div class="row t8s-feature">
                    <div class="col-sm-3 t8s-feature__lead__icon">
                        <img src="../assets/img/t8-icon-paperbook.svg" class="img-responsive" alt=""/>
                    </div>
                    <div class="col-sm-9 t8s-feature__lead">
                        Бумажные книги
                    </div>
                </div>
                <div class="row t8s-feature">
                    <div class="col-sm-3 t8s-feature__lead__icon">
                        <img src="../assets/img/t8-icon-ebook.svg" class="img-responsive" alt=""/>
                    </div>
                    <div class="col-sm-9 t8s-feature__lead">
                        Электронные книги
                    </div>
                </div>
                <div class="row t8s-feature">
                    <div class="col-sm-3 t8s-feature__lead__icon">
                        <img src="../assets/img/t8-icon-audio.svg" class="img-responsive" alt=""/>
                    </div>
                    <div class="col-sm-9 t8s-feature__lead">
                        Аудио книги
                    </div>
                </div>
            </div>
            <div class="col-sm-5 t8s-publishing__graphic">
            </div>
        </div>

    </section>


    <section class="t8s-section--ripol">
        <!--Рипол-->
        <div class="container ">
            <div class="row">
                <div class="col-sm-3 t8s-section--ripol__logo">
                </div>
                <div class="col-sm-9" >
                    <p class="lead">
                        <strong>Каждая изданная книга</strong> передаётся в крупнейшее издательство <strong>«РИПОЛ Классик»</strong> для оценки возможности дальнейшего продвижения автора <strong>за счёт издательства</strong>.
                    </p>
                </div>
            </div>
        </div>

    </section>


    <section class="container">
        <!--Распространение-->
        <header class="text-center t8s-section__header">
            <h3>Распространение книг</h3>
        </header>
        <div class="text-center">
            <ul class="list-unstyled t8-feature-list">
                <li>По каталогу книжной дистрибуции «Амадеос» — крупнейшей в РФ</li>
            </ul>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-6  text-center">
                <div class="t8s-feature-column">
                    <ul class="list-unstyled t8-feature-list">
                        <li>В 35.000 интернет-магазинов электронных книг всего мира</li>
                    </ul>
                </div>
                <img src="../assets/img/logos/logo-ishops-alibris.png" alt=""/>
                <img src="../assets/img/logos/logo-ishops-AbeBooks.png" alt=""/>
                <img src="../assets/img/logos/logo-ishops-ingram.png" alt=""/>
                <img src="../assets/img/logos/logo-ishops-amazon.png" alt=""/>
                <img src="../assets/img/logos/logo-ishops-googlePlay.png" alt=""/>
            </div>
            <div class="col-sm-6 text-center">
                <div class="t8s-feature-column">
                    <ul class="list-unstyled t8-feature-list">
                        <li>В крупнейшие книжные магазины (по&nbsp;согласованию)</li>
                    </ul>
                </div>
                <img src="../assets/img/logos/logo-bigshops-republic.png" alt=""/>
                <img src="../assets/img/logos/logo-bigshops-mgvardia.png" alt=""/>
                <img src="../assets/img/logos/logo-bigshops-mdk.png" alt=""/>
                <img src="../assets/img/logos/logo-bigshops-biblioglobus.png" alt=""/>
                <img src="../assets/img/logos/logo-bigshops-moskva.png" alt=""/>

            </div>
            <div class="col-sm-6  text-center">
                <div class="t8s-feature-column">
                    <ul class="list-unstyled t8-feature-list">
                        <li>В Интернет-магазины, работающие с технологией «Печать по&nbsp;требованию»</li>
                    </ul>
                </div>
                <img src="../assets/img/logos/logo-eshops-ozon.png" alt=""/>
                <img src="../assets/img/logos/logo-eshops-readru.png" alt=""/>
                <img src="../assets/img/logos/logo-eshops-myshop.png" alt=""/>

            </div>
            <div class="col-sm-6  text-center">
                <div class="t8s-feature-column">
                    <ul class="list-unstyled t8-feature-list">
                        <li>В ведущие торговые площадки аудио-книг</li>
                    </ul>
                </div>
                <img src="../assets/img/logos/logo-ashops-voxclub.png" alt=""/>
                <img src="../assets/img/logos/logo-ashops-litres.png" alt=""/>
                <img src="../assets/img/logos/logo-ashops-knigavsluh.png" alt=""/>

            </div>
        </div>

    </section>
<br/><br/><br/>

    <section class="">
        <!--PR-->
        <header class="text-center">
            <h3>PR-продвижение</h3>
        </header>
        <div class="t8s-section--promotion">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="../assets/img/t8-comments.svg" class="img-responsive t8-img" alt=""/>
                        <h4>Рецензии и отзывы профессиональных критиков</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="../assets/img/t8-article.svg" class="img-responsive t8-img" alt=""/>
                        <h4>Статьи о книге и об авторе в&nbsp;СМИ</h4></div>
                    <div class="col-md-4 text-center">
                        <img src="../assets/img/t8-presentations.svg" class="img-responsive t8-img" alt=""/>
                        <h4>Специальные акции в точках продаж (выкладки, промо-материалы)</h4></div>
                </div>
            </div>

        </div>
    </section>


    <section class="container">
        <!--Доверьтесь-->
        <header class="text-center t8s-section__header">
            <h3>Доверьтесь профессионалам</h3>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-unstyled t8-feature-list t8-feature-list--plane">
                        <li>Многолетний опыт работы на книжном рынке</li>
                        <li>Новейшее оборудование для офсетной и цифровой печати, включая технологию «Печать по требованию» (P.O.D.)</li>
                    </ul>


                </div>

                <div class="col-md-6">
                    <ul class="list-unstyled t8-feature-list t8-feature-list--plane">
                        <li>Громная сеть дистрибуции в РФ и за рубежом</li>
                        <li>Креативный подход, персональная <span style="white-space: nowrap">PR-поддержка</span> и работа с авторскими брендами</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
<br/>
<br/>

    <section class="container">
        <!--Запрос-->
        <header class="text-center t8s-section__header">
            <h3>Да, мне это интересно!</h3>
        </header>
        <div class="text-center">
            <hr class="t8s-hr-horisontal"/>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form class="t8s-lead-form">
                    <h4 class="t8s-lead-form__title">Запрос на оказание услуг</h4>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="ФИО"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Телефон"/>
                    </div>
                    <div class="form-group">
                        <button data-loading-text="Отправляем..." class="t8s-lead-form__button" type="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
<br/><br/><br/>
{% endblock %}