{% block content %}
<div class="t8s-intro">

    <div class="t8s-intro__tagline"></div>
    <div class="t8s-lead-form"></div>
    <div class="t8s-intro__copytext">
        <h2>Дорогие друзья!</h2>
        <p>Как основатель одного из крупнейших издательств в России «Рипол Классик», соучредитель издательского холдинга T8,
        представляю вам новый проект «T8 / Авторские решения», цель которого дать шанс любому автору
        заявить миру о себе.</p>
        <h3>Мы добиваемся этого благодаря:</h3>
        <ul>
            <li>Многолетнему оптыту работы на книжном рынке</li>
            <li>Новейшему оборудованию для офсетной и цифровой печати</li>
            <li>Более 35.000 точек продаж бумыжных, электронных и аудио-книг в России и за рубежом</li>
            <li>Креативному подходу, персональной PR поддержке и работе с авторскими брендами.</li>
        </ul>

       <p>Мало быть <strong>Гением</strong><br/>
       Нужно быть гением <strong>ПРИЗНАННЫМ</strong>
       </p>
       <div class="t8s-intro__copytext__signature">
           <strong><em>Сергей Михайлович Макаренков</em></strong>
           <em>Генеральный директор издательства «Рипол Классик»</em>
       </div>
    </div>

</div>

{% endblock %}