{% block content %}

<section class="t8s-intro">

</section>

<section>
    <!--Издайте свою книгу-->
</section>


<section>
    <!--Подготовка и издание книг-->
</section>


<section>
    <!--Рипол-->
</section>


<section>
    <!--Распространение-->
</section>


<section>
    <!--PR-->
</section>


<section>
    <!--Доверьтесь-->
</section>


<section>
    <!--Запрос-->
</section>


{% endblock %}