{% block content %}
<div class="t8s-intro">
    <div class="container-liquid">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="t8s-intro__tagline">
                <h1>Ваша задача&nbsp;— <strong>написать</strong></h1>
                <h1>Наша&nbsp;— <strong>сделать&nbsp;вас известным</strong></h1>
            </div>
            <div class="t8s-lead-form">
                <form action="">
                    <h4>Да, мне это интересно</h4>
                    <div class="form-group">
                        <input class="form-control" required type="text" placeholder="Ваше имя"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" required type="email" placeholder="Емейл"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" required type="tel" placeholder="Телефон"/>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-danger" type="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </div>

    <!--<div class="ccattrib">Сергей Михайлович Макаренков</div><br/><div class="ccattrib">Генеральный директор издательства «Рипол Классик»</div>-->
</div>
</div>

<div class="t8s-intro__copytext">
<div class="container">

    <div class="row">
        <div class="col-md-8">
            <div class="t8s-intro__copytext__text">
                <h2>Дорогие друзья!</h2>
                <p>Как основатель одного из крупнейших издательств в России «Рипол Классик», соучредитель издательского холдинга T8,
                    представляю вам новый проект «T8&nbsp;/&nbsp;Авторские решения», цель которого дать шанс любому автору
                    заявить миру о себе.</p>
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>
    <div class="row">
        <div class="col-md-5">
            <h3>Мы добиваемся этого благодаря:</h3>
            <ul class="t8s-intro__copytext__list">
                <li>Многолетнему оптыту работы на книжном рынке</li>
                <li>Новейшему оборудованию для офсетной и цифровой печати</li>
                <li>Более 35.000 точек продаж бумыжных, электронных и аудио-книг в России и за рубежом</li>
                <li>Креативному подходу, персональной PR поддержке и работе с авторскими брендами.</li>
            </ul>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <div class="">
                <br/>
                <p class="lead">Мало быть <strong>гением</strong><br/>
                    Нужно быть гением <strong>признанным</strong>
                </p>
                <div class="t8s-intro__copytext__signature">
                </div>
                <strong><em>Сергей Михайлович Макаренков</em></strong>
                <br/>
                <em>Генеральный директор издательства «Рипол Классик»</em>

            </div>

        </div>
    </div>
</div>

</div>



{% endblock %}