{% block title %}Акции{% endblock %}
{% block content %}

<div  id="wrapper"style="margin-bottom: 3em">

    <div class="container">
        <h1>Акции</h1>
    </div>

    <br/><br/>

    <section class="t8s-section--ripol">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4"><p class="lead">Т8 «Авторские решения»</p></div>
                <div class="col-md-1"><p class="lead" >+</p></div>
                <div class="col-md-4"><p class="lead">Московская городская организация Союза писателей России</p></div>
                <div class="col-md-1"><p class="lead">=</p></div>
                <div class="col-md-2"><p class="lead" style="font-size: 48px; line-height: 1px; margin-top: 0.7em"><i class="glyphicon glyphicon-heart-empty"></i></p></div>
            </div>

        </div>
    </section>

    <br/><br/>


    <section class="container">

        <p class="lead">
            По специальному предложению в рамках совместного проекта с Московской городской
            организацией Союза писателей России, <strong>любой автор,</strong> заинтересованный в профессиональном
            продвижении своего творчества, обратившись в МГО СПР, может получить
            <strong>именной льготный сертификат,</strong> предоставляющий возможность:
        </p>

        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled t8-feature-list t8-feature-list--small">
                    <li><strong>Разместить книгу в 5.000 Интернет-магазинов по всему миру</strong> (через сеть эксклюзивного партнера «РИПОЛ Классик» крупнейшего дистрибьютора INGRAM) <strong>со скидкой 30%</strong> от стандартной цены размещения</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled t8-feature-list t8-feature-list--small">
                    <li><strong>Получить бесплатную презентацию авторской книги </strong>(данная услуга в рамках холдинга Т8 предоставляется исключительно для поэтов и писателей, имеющих вышеуказанный сертификат МГО СПР + Т8 «Авторские решения»)</li>
                </ul>
            </div>
        </div>
        <hr class="feature-divider"/>
        <p>
            А также: <strong>Принять участие в наших бесплатных конкурсах</strong> («Автор года», «Книга года», «Бестселлер года») и <strong>воспользоваться услугами</strong> Т8 «Авторские решения» по <strong>распространению и продвижению на льготных условиях</strong>.
        </p>
        <br/>
        <div>
        <p><strong>Руководитель проекта от МГО СПР</strong> — Ольга Бояринова, член Президиума МГО СПР. </p>
        </div>

    </section>



    <section class="container">
        <header class="t8s-section__header text-center">
            <h3>Да, мне это интересно!</h3>
        </header>
        <div class="text-center">
            <hr class="t8s-hr-horisontal">
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form class="t8s-lead-form {{form_options}} " data-label="certificate" action="">
                    <input type="hidden" name="projectId" value="t8.authors"/>
                    <input type="hidden" name="campaignParams" value=""/>
                    <input type="hidden" name="campaignReferrer" value=""/>
                    <input type="hidden" name="formType" value="certRequest"/>

                    <h4 class="t8s-lead-form__title">Запрос на сертификат</h4>
                    <div class="form-group">
                        <input name="fullName" type="text" class="form-control" placeholder="Ф. И. О." required/>
                    </div>
                    <div class="form-group">
                        <input name="email" type="email" class="form-control" placeholder="Email" required/>
                    </div>
                    <div class="form-group">
                        <input name="phone" type="tel" class="form-control" placeholder="Телефон" required/>
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input name="sprMember" type="checkbox" class=""/>
                            Я уже являюсь членом союза писателей МГО СПР
                        </label>
                    </div>
                    <div class="form-group">
                        <button data-loading-text="Отправляем..." class="t8s-lead-form__button" type="submit">Отправить</button>
                    </div>
                </form>

            </div>
        </div>

    </section>




</div>


{% endblock %}