{% block title %}Акции{% endblock %}
{% block content %}

<div  id="wrapper"style="margin-bottom: 3em">

    <div class="container">
        <h1>Акции</h1>
    </div>

    <br/><br/>

    <section class="t8s-section--ripol">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4"><p class="lead">Т8 «Авторские решения»</p></div>
                <div class="col-md-1"><p class="lead" >+</p></div>
                <div class="col-md-4"><p class="lead">Московская городская организация Союза писателей России</p></div>
                <div class="col-md-1"><p class="lead">=</p></div>
                <div class="col-md-2"><p class="lead" style="font-size: 48px; line-height: 1px; margin-top: 0.7em"><i class="glyphicon glyphicon-heart-empty"></i></p></div>
            </div>

        </div>
    </section>

    <br/><br/>


    <section class="container">

        <p class="lead">
            По специальному предложению в рамках совместного проекта с Московской городской
            организацией Союза писателей России, <strong>любой автор,</strong> заинтересованный в профессиональном
            продвижении своего творчества, обратившись в МГО СПР, может получить
            <strong>именной льготный сертификат,</strong> предоставляющий возможность:
        </p>

        <ul class="list-unstyled t8-feature-list t8-feature-list--small">
            <li>Разместить книгу в <strong>35.000 Интернет-магазинов по всему миру</strong> (через сеть эксклюзивного партнера «РИПОЛ Классик» крупнейшего дистрибьютора INGRAM) <strong>со скидкой 30%</strong> от стандартной цены размещения</li>
            <li><strong>Получить бесплатную презентацию авторской книги</strong> <em>(данная услуга в рамках холдинга Т8 предоставляется исключительно для поэтов и писателей, имеющих вышеуказанный сертификат МГО СПР + Т8)</em></li>
            <li>Воспользоваться <strong>любыми другими услугами по распространению</strong> и продвижению в холдинге Т8:

            <ul class="list-unstyled t8s-intro__copytext__list" style="margin-left: 2em; margin-top: 2em">
                <li>Добавление книг в каталог крупнейшей в РФ сети книжной дистрибуции «Амадеос»</li>
                <li>Размещение электронных книг в Интернет-магазинах по всему миру (Abebooks, Alibris, Amazon, Google Play, Литрес и др.)</li>
                <li>Размещение аудио-книг на ведущих торговых площадках (Ozon.ru, Loudbook, Книга вслух, Литрес и др.)</li>
                <li>Добавление книг в Интернет-магазины по технологии «Печать по требованию»  (Ozon.ru, Read.ru, MyShop.ru и др.)</li>
                <li>Возможность поставки бумажных книг в крупнейшие книжные магазины («Библио-Глобус», ТДК «Москва», «Молодая Гвардия», ОЦ «МДК», «Республика», «Дом Книги» и др.) по согласованию Сторон</li>
            </ul>
            </li>
        </ul>
    </section>

    <section class="container">
        <header class="t8s-section__header text-center">
            <h3>Да, мне это интересно!</h3>
        </header>
        <div class="text-center">
            <hr class="t8s-hr-horisontal">
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form class="t8s-lead-form">
                    <h4 class="t8s-lead-form__title">Запрос на сертификат</h4>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="ФИО">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email">
                        <span style="opacity: 1; left: 532px; top: 149.296875px; width: 19px; min-width: 19px; height: 13px; position: absolute; border: none; display: inline; visibility: visible; z-index: auto; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAANCAYAAABLjFUnAAAACXBIWXMAAAsTAAALEwEAmpwYAAABMmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarZG9SsNQGIaf04qCQxAJbsLBQVzEn61j0pYiONQokmRrkkMVbXI4Of508ia8CAcXR0HvoOIgOHkJboI4ODgECU4i+EzP9w4vL3zQWPE6frcxB6PcmqDnyzCK5cwj0zQBYJCW2uv3twHyIlf8RMD7MwLgadXr+F3+xmyqjQU+gc1MlSmIdSA7s9qCuATc5EhbEFeAa/aCNog7wBlWPgGcpPIXwDFhFIN4BdxhGMXQAHCTyl3AtercArQLPTaHwwMrN1qtlvSyIlFyd1xaNSrlVp4WRhdmYFUGVPuq3Z7Wx0oGPZ//JYxiWdnbDgIQC5M6q0lPzOn3D8TD73fdMb4HL4Cp2zrb/4DrNVhs1tnyEsxfwI3+AvOlUD7FY+VVAAAAIGNIUk0AAHolAACAgwAA9CUAAITRAABtXwAA6GwAADyLAAAbWIPnB3gAAAECSURBVHjapNK9K8UBFIfxD12im8LEYLgZjcpgUFgUCUlZTJRkMpqUxR+hDFIGhWwGwy0MFiUxSCbZ5DXiYjnqdvvpvnim0+mcZ/ieU9U6tySBNEbQjBpMoANZnGIdl4VLKcm8YCPqbgzhAT1ox1mSrFpxjtCHLdygH5tJgymlMYhhtKH+r6FishYsYBpN0dvFHu5wi9okWToC/0AmcpqM+pd7PKMRDajDNb5xlS97Qyem0BsL8IT9uOAhXpGLvL/wGXO5fFkOO7FwHvJtLOOilGALM8vE1d6xiFVlkP8aXTjAI8bKFeXLBuJ3shjFiQpIYR6zWMFaXFOlsnHM4Ng/+RkAdVE2mEeC7WYAAAAASUVORK5CYII=); background-position: 0px 0px; background-repeat: no-repeat;"></span></div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Телефон">
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" class=""/>
                            Я подтверждаю, что являюсь членом союза писателей МГО СПР
                        </label>
                    </div>
                    <div class="form-group">
                        <button data-loading-text="Отправляем..." class="t8s-lead-form__button" type="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </div>

    </section>




</div>


{% endblock %}